.userAvatar {
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	background-color: gray;

	position: relative;
	color: white;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.userStatus {
	width: 0.7rem;
	height: 0.7rem;
	border-radius: 50%;
	background-color: #dfe1e4;
	position: absolute;
	bottom: -0.25rem;
	right: -0.25rem;
	border: 2px solid white;
}

.userOnline {
	background-color: #2ed573 !important;
}
